<a href="https://colab.research.google.com/github/Fuenfgeld/2022TeamADataEngineeringBC/blob/5-%C3%BCbung-db-daten-einlesen/PETL_Datenbanken_BSP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Erzeugen der Datenbank SQlite3

In [1]:
#kann sein das Petl noch installiert werden muss
!pip install petl

Collecting petl
  Downloading petl-1.7.8.tar.gz (401 kB)
     |████████████████████████████████| 401 kB 4.2 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: petl
  Building wheel for petl (PEP 517) ... done
  Created wheel for petl: filename=petl-1.7.8-py3-none-any.whl size=219365 sha256=9dae24dfd0a1efecb480f18326cf9901234a9741a7bd00f763f5b90d89de0c7d
  Stored in directory: /root/.cache/pip/wheels/fe/3d/5c/e10ec10f8988404563318132cbd9d37f5798198dfbe4d5f12f
Successfully built petl
Installing collected packages: petl
Successfully installed petl-1.7.8

In [2]:
#Importieren der nötigen Packete
import pandas as pd
import petl as etl
import sqlite3, os, sys

Überprüfung ob die Datenbank bereits angelegt wurde..

In [3]:
if os.path.exists("firma.db"):
    print("Datei bereits vorhanden")
    sys.exit(0)

Verbindung zur Datenbank herstellen..

In [4]:
connection = sqlite3.connect("firma.db")

Datensatz Cursor erzeugen

In [5]:
cursor = connection.cursor()

Datenbanktabelle erzeugen...

In [6]:
#a = "DROP TABLE personen "
#cursor.execute(a)

sql = "CREATE TABLE personen(" \
      "name TEXT, " \
      "vorname TEXT, " \
      "personalnummer INTEGER PRIMARY KEY, " \
      "gehalt REAL, " \
      "geburtstag DATE)"
cursor.execute(sql)

Datensätze erzeugen und an die Datenbank weiterleiten...

In [7]:
sql = "INSERT INTO personen VALUES('Maier', " \
      "'Hans', 6714, 3500, '1962-03-15')"
cursor.execute(sql)

# Datensatz erzeugen
sql = "INSERT INTO personen VALUES('Schmitz', " \
      "'Peter', 81343, 3750, '1958-04-12')"
cursor.execute(sql)


# Datensatz erzeugen
sql = "INSERT INTO personen VALUES('Mertens', " \
      "'Julia', 2297, 3621.5, '1959-12-30')"
cursor.execute(sql)
connection.commit()

Anschließend wird die Verbindung zur Datenbank gelöst...

In [8]:
connection.close()

##Nachdem die Datenbank aufgesetzt wurde könnten verschiedene operationen auf die DB angewandt werden....

In [9]:
#Fuer Operatioen wird zunächst eine Verbindung erstellt und die erste Anweisung ausgeführt
connection = sqlite3.connect('firma.db')

In [10]:
#Ausgabe aller Personendaten
table = etl.fromdb(connection, 'SELECT * FROM personen')
print(table)

+---------+---------+----------------+--------+------------+
| name    | vorname | personalnummer | gehalt | geburtstag |
+=========+=========+================+========+============+
| Mertens | Julia   |           2297 | 3621.5 | 1959-12-30 |
+---------+---------+----------------+--------+------------+
| Maier   | Hans    |           6714 | 3500.0 | 1962-03-15 |
+---------+---------+----------------+--------+------------+
| Schmitz | Peter   |          81343 | 3750.0 | 1958-04-12 |
+---------+---------+----------------+--------+------------+

In [11]:
table = etl.fromdb(connection, 'SELECT name, vorname FROM personen')
table.look()

+-----------+---------+
| name      | vorname |
+===========+=========+
| 'Mertens' | 'Julia' |
+-----------+---------+
| 'Maier'   | 'Hans'  |
+-----------+---------+
| 'Schmitz' | 'Peter' |
+-----------+---------+

In [12]:
# Auswahl mit WHERE-Klausel und Vergleichsoperator
# Gesucht wird die Personalnummern der Personen die zwischen 3600€ und 3650€ verdienen
table = etl.fromdb(connection, 'SELECT personalnummer, gehalt FROM personen WHERE gehalt >= 3600 AND gehalt <= 3650')
table.look()

+----------------+--------+
| personalnummer | gehalt |
+================+========+
|           2297 | 3621.5 |
+----------------+--------+

In [13]:
table = etl.fromdb(connection, 'SELECT * FROM personen WHERE geburtstag > 1960')
table.look()

+-----------+---------+----------------+--------+--------------+
| name      | vorname | personalnummer | gehalt | geburtstag   |
+===========+=========+================+========+==============+
| 'Mertens' | 'Julia' |           2297 | 3621.5 | '1959-12-30' |
+-----------+---------+----------------+--------+--------------+
| 'Maier'   | 'Hans'  |           6714 | 3500.0 | '1962-03-15' |
+-----------+---------+----------------+--------+--------------+
| 'Schmitz' | 'Peter' |          81343 | 3750.0 | '1958-04-12' |
+-----------+---------+----------------+--------+--------------+